



@*<script src="~/Scripts/JavaScriptOwn.js"></script>*@
<table style="border-color: #807d78;  border-width: 1px; align-content: center;" class="table table-hover table-borde#807d78" id="tblMasterShop">
    <thead>
        <tr align="center" bgcolor="#ccccff" style="color: #000000;">
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Customer Name
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Date of Orders
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Product Name
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Product Category
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Quantity
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Product Price
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Total Ammount
                </b>
            </td>
            <td scope="col" style="border: 1px solid #807d78;">
                <b>
                    Action
                </b>
            </td>
        </tr>
    </thead>
    <tbody>
        
        @* render table there by the help jquery function *@


    </tbody>
</table>