@{
    Layout = "";
}
@model Model.ShopModel
@using System.Data;
@{
    ViewBag.Title = "Insert";
}
<style>
    .btn-default {
        color: #fff;
        background-color: #2249cf;
        border-color: #ccc;
    }
</style>


<h2>Insert</h2>
@using (Html.BeginForm())
{
    <div style="margin-right:10px">
        <label>Select Customer Name</label>
        @Html.DropDownListFor(m => m.CustomerId, new SelectList(Model.CustomerList, "CustomerId", "Name"), "--Select Customer--", new { @class = "form-control ", @id = "CustomerId" })
    </div>
    <div style="margin-right:10px">
        <label>Select Oder Date</label><br />
        @Html.TextBoxFor(model => model.DateSaleOrders, new { @class = "form-control", @type = "date", @id = "DateSaleOrders" })
    </div>
    <div style="margin-right:10px">
        <label>Select Product</label>
        @Html.DropDownListFor(m => m.ProductId, new SelectList(Model.ProductModelList, "ProductId", "Name"), "--Select Product--", new { @class = "form-control ", @id = "ProductId" })
    </div>
    <div style="margin-right:10px">
        <label>Enter Quantity</label>
        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", type = "number", step = "1" })
    </div><br />
    <div class="form-group">
        <div>
      
            <input type="submit" value="Save" class="btn btn-primary" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
}
